

.card-registration .select-input.form-control[readonly]:not([disabled]) {
	font-size: 1rem;
	line-height: 2.15;
	padding-left: 0.75em;
	padding-right: 0.75em;
}

.card-registration .select-arrow {
	top: 13px;
}

.travel-data-container {
    text-transform: capitalize;
}

.total {
    width: 100%;
    display: flex;
    justify-content: right;
}

body {
	background-color: #fff;
}

.red-dot {
	top: 0 !important;
}

.normal-budget-container {
	background-color: rgba(128, 128, 128, 0.338);
	border-radius: 0 14px 14px 0;
	color: rgb(31, 31, 31);
}

.over-budget-container {
	background-color: rgba(198, 14, 14, 0.753);
	border-radius: 0 14px 14px 0;
	color: rgb(255, 255, 255);
}

.budget-container {
    transition: background-color 1s ease; /* Smooth transition */
}

.warning {
	font-size: 14px !important;
	text-align: justify;
	padding-left: 20px;
}

.icon-danger {
	font-size: 50px;
}