@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
	font-family: "Poppins", sans-serif;
}

.logo a,
.logo a:hover,
.logo a:focus {
	color: #fff;
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
	margin: 14px 0px 0;
	padding: 10px 0 0 0;
}
.logo a span {
	color: #00d8ff;
	text-transform: capitalize;
}

.cart-btn {
	background-color: transparent;
	border: none;
	font-size: 29px; /* Increase the size of the icon */
	color: #c3c3c3;
	padding: 12px 18px; /* Adds padding to make the button larger */
	cursor: pointer;
	transition: transform 0.3s ease, color 0.3s ease;
}

.cart-btn:hover {
	color: #000000;
	transform: scale(1.1); /* Slightly enlarges the icon/button on hover */
}

.action-btn {
	display: flex;
	align-items: center;
}

main {
	background-color: #fff;
	font-family: "Poppins", sans-serif;
}

.container {
	padding: 30px;
}

.title {
	display: flex;
	flex-direction: column; /* To keep items vertically stacked */
	align-items: center; /* Horizontal center */
	justify-content: center; /* Vertical center */
}

h3 {
	text-transform: uppercase;
}

.hotel-table {
	margin-top: 20px;
}

.detail-content {
	background-color: #c3c3c3;
	border-radius: 14px;
	padding: 50px;
	width: 100%;
	align-items: center;
}

.place-data {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* img part */
.img-container {
	width: 40%;
}

.main-img {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main-img img {
	width: 500px;
	height: 500px;
	object-fit: cover;
	object-position: center;
}

.sub-img  {
	display: flex;
	justify-content: center;
}

.sub-img img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
	margin: 10px;
}

.info-container {
	width: 100%;
}

iframe {
	height: 50%;
	width: 100%;
	border: #000000 1px solid;
	border-radius: 14px;
}

.review-card {
	border: 0;
	border-radius: 14px;
	background-color: #76767659;

}

.user-icon {
	margin-right: 5px;
}

.review-form {
	width: 100%;
}

.review-text {
	width: 100%;
	min-height: 15vh;
	border-radius: 14px;
	padding: 10px;
	line-height: normal;
	padding-top: 10px;
	box-sizing: border-box;
}
/* Keep dropdown hidden by default */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #232323;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
	width: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
	margin: 10px 30px;
    transition: background-color 0.3s;

}

.dropdown-content a:hover {
    background-color: #303030;
}

/* Style for the dropdown button */
#btn-user {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

#btn-user:hover {
    background-color: #3e8e41;
}

