body {
	background-color: #00d8ff;
}

a {
	text-decoration: none;
}

.bg-success {
	background-color: #28a745 !important;
	color: #fff;
}

.bg-danger {
	background-color: #dc3545 !important;
	color: #fff;
}

/* button in searchAttractions */
/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
	background: #0fda2a;
	color: white;
	font-family: inherit;
	padding: 0.35em;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #714da6;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	padding-right: 3.3em;
	cursor: pointer;
}

.cssbuttons-io-button .icon {
	background: white;
	margin-left: 1em;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
	right: 0.3em;
	transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
	width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
	width: 1.1em;
	transition: transform 0.3s;
	color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
	transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
	transform: scale(0.95);
}

.btn-container {
	width: 100%;
	justify-content: end;
	display: flex;
}

.hotel-table {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* sticky budget card */
.sticky-container {
	position: sticky;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: auto;
	background: rgba(255, 0, 0, 0.5);
	pointer-events: none;
}

.price-display {
	position: absolute; 
	top: 0; 
	right: 0; 
	pointer-events: auto; 
	background: #F8FBFE; 
	width: auto;
	margin-top: 650px;
	margin-right: 20px;
	padding: 10px;
	border-radius: 8px;
}

.current-display,
.budget-display {
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: space-between;
	/* color: #000000; */
}
.price {
	margin-left: 5px;
}

.over-budget {
	position: absolute; 
	top: 0; 
	right: 0; 
	pointer-events: auto; 
	background: #232323; 
	width: auto;
	margin-top: 300px;
	margin-right: 20px;
	padding: 10px;
	border-radius: 8px;
	color: #dc3545;
}

.card-text {
	font-size: 12px;
}